package partials

templ Footer() {
	<footer class="flex justify-between gap-2 text-xs text-aqua-light-3 py-2 px-4">
		<p class="flex gap-1"><span class="hidden xs:block">Copyright</span> © 2024 Tiniest.<span class="hidden xs:block">All rights reserved.</span></p>
		<p>•</p>
		<a href="/terms-of-service">Terms of use</a>
		<p>•</p>
		<a href="privacy-policy">Privacy Policy</a>
		<p>•</p>
		<p>by <a href="https://tiniest.app/IiltwU" target="_blank">cloyop</a></p>
	</footer>
}
